.form-control-vote{
    cursor: no-drop;
}
.home-title-vote{
    padding-left: 15px;
}
.deskripsi{
    padding-top: 10px;
    font-size: 1em;
    font-weight: 600;
}
.m{
    padding-top: 5px;
}

.card-body {
    display: flex;
}
.card-body .row{
    justify-content: center;
}
.img-fluid{
    border-radius: 5px;
    /* min-width: 512px; */
    /* min-height: 400px; */
    /* object-fit: cover; */
    /* box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; */
}
.cd-body-color{
    background-color: #f9fafc;
}
.card{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
